In [13]:
import pandas as pd
d=pd.read_excel(r'C:\Users\2022503056\Documents\ds.xlsx')
print(d)

     Name  Roll no
0    Ajay     3056
1  Sanjay     5057

In [15]:
import pandas as pd
d=pd.read_csv(r'C:\Users\2022503056\Documents\pandaa.csv')
print(d)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.5

In [19]:
import pandas as pd
d={
    'name':['ajay','sanjay','rahul','jeeva','sakthi','keerthana'],
    'age':[20,17,14,10,15,12]
}
m=pd.DataFrame(d)
print(m.head())

     name  age
0    ajay   20
1  sanjay   17
2   rahul   14
3   jeeva   10
4  sakthi   15

In [20]:
import pandas as pd
d={
    'name':['ajay','sanjay','rahul','jeeva','sakthi','keerthana'],
    'age':[20,17,14,10,15,12]
}
m=pd.DataFrame(d)
print(m.tail())

        name  age
1     sanjay   17
2      rahul   14
3      jeeva   10
4     sakthi   15
5  keerthana   12

In [21]:
import pandas as pd
d={
    'name':['ajay','sanjay','rahul','jeeva','sakthi','keerthana'],
    'age':[20,17,14,10,15,12]
}
m=pd.DataFrame(d)
print(m.head(3))

     name  age
0    ajay   20
1  sanjay   17
2   rahul   14

In [22]:
import pandas as pd
d={
    'name':['ajay','sanjay','rahul','jeeva','sakthi','keerthana'],
    'age':[20,17,14,10,15,12]
}
m=pd.DataFrame(d)
print(m.tail(3))

        name  age
3      jeeva   10
4     sakthi   15
5  keerthana   12

In [28]:
import pandas as pd
d={
    'name':['ajay','sanjay','keerthana','rahul'],
    'marks':[100,90,80,90]
}
m=pd.DataFrame(d)
print(m.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   marks   4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes
None

In [27]:
import pandas as pd
d={
    'name':['ajay','rahul','sanjay'],
    'marks':[100,50,90]
}
m=pd.DataFrame(d)
print(m.describe())

            marks
count    3.000000
mean    80.000000
std     26.457513
min     50.000000
25%     70.000000
50%     90.000000
75%     95.000000
max    100.000000

In [33]:
import pandas as pd
d={
    'name':['ajay','sanjay','sanjay','ajay','a','a','a'],
    'marks':[100,50,90,95,100,90,80]
}
m=pd.DataFrame(d)
print(m.describe(include='object'))

       name
count     7
unique    3
top       a
freq      3

In [34]:
import pandas as pd
d={
    'name':['ajay','sanjay','sanjay','ajay','a','a','a'],
    'marks':[100,50,90,95,100,90,80]
}
m=pd.DataFrame(d)
print(m.describe(include='object'))

       name
count     7
unique    3
top       a
freq      3

In [36]:
import pandas as pd
d={
    'name':['a','b','c','d','e','f','g'],
    'marks':[100,90,80,70,60,70,80]
}
m=pd.DataFrame(d)
print(m['name'].describe(),m['marks'].describe())

count     7
unique    7
top       a
freq      1
Name: name, dtype: object count      7.000000
mean      78.571429
std       13.451854
min       60.000000
25%       70.000000
50%       80.000000
75%       85.000000
max      100.000000
Name: marks, dtype: float64

In [37]:
import pandas as pd
d={
    'name':['a','b','c','a'],
    'marks':[10,9,8,12]
}
m=pd.DataFrame(d)
print(m.nunique())

name     3
marks    4
dtype: int64

In [38]:
print(sorted(m['name'].unique()))

['a', 'b', 'c']

In [39]:
print(m.groupby('name')['marks'].describe())

      count  mean       std   min   25%   50%   75%   max
name
a       2.0  11.0  1.414214  10.0  10.5  11.0  11.5  12.0
b       1.0   9.0       NaN   9.0   9.0   9.0   9.0   9.0
c       1.0   8.0       NaN   8.0   8.0   8.0   8.0   8.0

In [42]:
group=m.groupby('name')
print("Number of groups: {len(group)}")
print(group.size())

Number of groups: {len(group)}
name
a    2
b    1
c    1
dtype: int64

In [43]:
print(group.size())

name
a    2
b    1
c    1
dtype: int64

In [46]:
print(group.get_group('a'))

  name  marks
0    a     10
3    a     12

In [47]:
print(group.agg(['count','max','min']))

     marks
     count max min
name
a        2  12  10
b        1   9   9
c        1   8   8